blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
nltk==3.8.1
pip-autoremove==0.10.0
python-decouple==3.8
regex==2024.5.15
setuptools==70.1.0
SQLAlchemy==2.0.30
tqdm==4.66.4
typing_extensions==4.12.0
Werkzeug==3.0.3
