.navbar-nav a {
    color: white;
}

.dark-blue-bg {
    background-color: #000080;
}

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
}

.custom-outlined-text {
    color: #D3D3D3; 
    text-shadow:
        -1px -1px 0 #000080,
         1px -1px 0 #000080,
        -1px  1px 0 #000080,
         1px  1px 0 #000080; 
}


.custom-btn {
    color: #000080; 
    background-color: white; 
    border-color: #000080; 
    margin: 0 3px;
}

.custom-btn:hover {
    background-color: #000080; 
    border-color: #000080; 
    color: white;
}

body {
    font-size: 1.3rem;
}

.index-main {
    display: flex; 
    flex-direction: column;
    gap: 2rem;
}

.index-main h1 {
    font-size: 4rem;
}

.index-main .accordion-button {
    font-size: 2rem;
    color: #000080;
}

.index-main .accordion-body {
    font-size: 1.2rem;
}

.page-header {
    margin: 2rem 0;
}

.page-header h1 {
    font-size: 2.5rem;
    text-align: center;
}

.custom-border {
    border: 1px solid #D3D3D3;
    padding: 1rem;
    border-radius: 5px;
}

.custom-btn-dimensions {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
}

.login-form button {
    margin: 2.5rem 0 0;
}

.custom-rules-box {
    margin-bottom: 2rem;
}

.custom-rules-box > div {
    display: flex;
    justify-content: center;
}

.game-page h1 {
    font-size: 4rem;
}

.custom-rules-box .custom-btn-dimensions {
    width: auto;
}

.custom-square-input {
    max-width: calc(20% - 3px);
    margin: 0 0.7px 1.5px;
    background-color: #D3D3D3;
    aspect-ratio: 1 / 1;
    border: none;
    text-align: center;
    font-size: 3rem;
    color: #000080;
    border-radius: 15px;
}

.custom-word-container {
    display: flex;
    justify-content: center;
}

.game-page {
    margin-bottom: 2rem;
}

#guess-btn-div > button {
    width: 75%;
    margin-top: 1rem;
}


@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1025px) {
    body {
        font-size: 1rem;
    }

    .index-main h1 {
        margin-top: 3rem;
    }
    
    .index-main .accordion-button {
        font-size: 1.5rem;
    }
    
    .index-main .accordion-body {
        font-size: 1rem;
    }

    .custom-btn-dimensions {
        height: auto;
        font-size: 1rem;
    }

    .login-form button {
        margin: 1.2rem 0 0;
    }

    .custom-word-container {
        width: 60%;
    }

    #guess-btn-div > button {
        width: 50%;
    }

}
  